.App {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background: transparent linear-gradient(180deg, #ffffff 0%, #dfdfdf 100%) 0% 0% no-repeat padding-box;
}
